{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/custom_voice_detail.css' %}">
{% endblock %}

{% block contents %}
<!-- Banner -->
   <section id="banner" class="major">
      <div class="inner">
         <header class="major">
               <h1>고객의 소리</h1>
                <h3>택배 관련 건의사항을 작성하고 볼 수 있습니다.</h3>
         </header>
      </div>
   </section>
<!-- Main -->

<!--<input  name = 'post_id' type = 'hidden' value = "{{ aa.id }}" >그 게시물 자체에 id 자동으로 부여(post_id라는 이름으로)-->
{% csrf_token %}
<table class="tblH mt60">
      <colgroup>
         <col span="1">
      </colgroup>
   <thead>
      <tr>
         <th colspan="5">{{ aa.q_title }}</th>
      </tr>
   </thead>
   <tbody>
      <tr colspan="4">  
         <td></td>
         <td></td>
         <td colspan="3" class="name">작성자 {{ aa.user }} | 등록일 {{ aa.q_time|date:"Y-m-d"}} {{ aa.q_time|time:"h:i"}} | 조회수 {{ aa.today }}</td>   
      </tr>
      <td class="contents" colspan="5">
         
         
         <div class="content">{{ aa.q_content }} </div>
         <br>
         {% if aa.pic %}
      
         <img src="{{ aa.pic.url }}"  alt="dd" width="60%" style="margin-left: auto; margin-right: auto; display: block;">
        
         {% endif %}
      </td>
      
   
      

		
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
			</td>
			<td>
            {% if aa.user == request.user and not aa.answers %} <!--사진올린 사람 == 사용자, 그리고 답변이 없어야함-->
             
			<form action = '{% url "custom_voice_edit" %}' style = "float:left;"><!--pk 사용 x-->
		
				<input  name = 'post_id' type = 'hidden' value = "{{ aa.id }}" >  <!--게시글당 id 받아야함 hidden 으로-->
				<button type = 'submit' class="button ">수정</button>
				<p style = 'color : blue; font-size: 10px;'></p>
			</form>	
			<form action = '{% url "deletevoice"  %}' style = "float:left;">
			
			
				<input  name = 'post_id' type = 'hidden' value = "{{ aa.id }}" >
				<button type = 'submit' class="button 	primary solid" style= "margin-left:10px;">삭제</button>
				<p style = 'color : red; font-size: 10px;'></p>
					
			</form>
					
			</form>
         {% endif %}
      </td>
		</tr>
   </tbody>
   <tbody>
      <tr>
      {% if aa.answers %}}
         <td class="reply">관리자 답변
         </td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
      </tr>
   </tbody>
   <tfoot>
      <tr>
         <td class="reply1">{{ aa.answers }}</td>
         {% endif %}
      </tr>
   
   </tfoot>
</tbody>
</table>

{% endblock %}
      </div>
   </body>
</html>